@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow-x: hidden;
  }
  
  body {
    @apply bg-white;
    color: var(--color-text-primary);
    overflow-x: hidden;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
